<div class="card">
  <div class="card-head">
    <app-seleton-loader
      *ngIf="!loaded"
      Cwidth="100"
      Cheigth="100"
      circle="true"
    ></app-seleton-loader>
    <img
      *ngIf="loaded"
      src="https://media-exp1.licdn.com/dms/image/C5603AQHZTWu9yhvyQg/profile-displayphoto-shrink_200_200/0?e=1599091200&v=beta&t=1IhWEBOtVm-UBrhUVvUuWBx59xxqTblD3h9YhVK232I"
      alt="Pessoa"
    />
    <div class="info">
      <app-seleton-loader *ngIf="!loaded" Cwidth="100"></app-seleton-loader>
      <div *ngIf="loaded" class="name">Danilo Ferreira</div>
      <app-seleton-loader *ngIf="!loaded" Cwidth="150"></app-seleton-loader>
      <div *ngIf="loaded" class="desc">Frontend Developer</div>
    </div>
  </div>
  <div class="card-body">
    <app-seleton-loader *ngIf="!loaded" Cwidth="100"></app-seleton-loader>
    <strong *ngIf="loaded">About</strong>
    <app-seleton-loader
      *ngIf="!loaded"
      Cwidth="270"
      Cheight="70"
    ></app-seleton-loader>
    <div *ngIf="loaded" class="about">
      Hello, i'm Danilo Ferreira Alves, bachelor in Computer Science, passionate
      about technology, focusing on front-end. Looking for back-end collateral
      knowledge to be a Fullstack developer in the future. I believe that
      persistence is the path to success. feel free to connect
    </div>
  </div>
</div>
